<!doctype html>

<html lang="en">
<head>
    <!-- Basic -->
    <title>Comezo</title>

    <!-- Define Charset -->
    <meta charset="utf-8">
    <!-- Responsive Metatag -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Page Description and Author -->
    {% include "stylesheet_header.html" %}



    {% block css %}
    {% endblock %}

    {% block javascript_header %}
    {% endblock %}

</head>
<body id="page-top" class="index">
<!-- Full Body Container -->
{% include "navigation_bar.html" %}
<section id="contact"></section>
<div class="container">

{% block body_content %}

{% endblock %}

</div>
</section>

<!-- End Full Body Container -->
<!-- Go To Top Link -->




</body>
</html>
