{% extends "base.html" %}
{% block body_content %}
    <div class="nav-side-menu">
        <div class="brand">Brand Logo</div>
        <div class="container" style="margin-left: 5cm;">
            <div class="row">
                <div class="col-md-8">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                                Heading
                        </div>
                        <div class="panel-body">
                            Body<br>
                            <br>
                            <br>
                            <br>
                            <br>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}